/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic settings */
html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2, h3, h4 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}
