/* Navigation */
#navbar {
  background: var(--bg-dark);
  color: #fff;
  overflow: hidden;
}

#navbar a {
  color: #fff;
}

#navbar .logo{
  float: left;
  padding-top: 20px;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li{
  float: left;
}

#navbar ul li a{
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.active {
  background: #6b6b6b44;
  color: #f7c08a;
}