.navbar {
    flex-direction: column;
    height: 7.5rem;
    padding: 1.5rem;
  }

  .navbar a {
    padding: 0.6rem;
    margin: 0 3px;
  }

  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column, .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }

  .landing .content h1{
    font-size: 1.5rem;
  }

  .landing .content p {
    font-size: 1.2rem;
  }