@await Html.PartialAsync("_VehicleDetails")
<h1>Hej ifrån Vehicles Index sida!</h1>

<h4>@ViewBag.data</h4>

<input type="text">
<button>Klicka här</button>
<a href="#">Klicka här</a>
<br>
<br>
@await Component.InvokeAsync("VehicleInfo")