<h1>Hej ifrån Vehicles Index sida!</h1>

<h4>@ViewBag.data</h4>

@* Detta är min kommentar *@

@* Där razor används för att hantera data som skall presenteras *@
@{
  int x = 10;
  int y = 5;
  int res = x + y;
  @res
}