@model App.ViewModels.VehicleViewModel

<h1>Registrera en ny bil</h1>

@Html.Editor("Name")<br>
@Html.CheckBox("isValid")<br>
@Html.EditorFor(c => c.Model, new { htmlAttributes = new {style="width: 300px;background:#333;color:#fff;"}})
<hr>

RegNummer: <input asp-for="RegistrationNumber" /><br>
Make: <input asp-for="Make" /><br>
Model: <input asp-for="Model" /><br>
Name: <input asp-for="Name" /><br>
RegDate: <input asp-for="RegistrationDate" /><br>
Importerad: <input asp-for="IsImported" />